table{
    color: blueviolet;
    border: 1;
    border-color:red;
    float: right;
    width: 50% ;
    padding: 10px;
    height: 150px;
}
.rose{
    color: royalblue;
    


}
#ring{
    float: right;
    margin-right: 100px;
    margin-top: 50px;
}